<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Caderneta | </title>
<link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}"/></head>
<body>

</body>
</html>